<!DOCTYPE html>

<html>
  <head>
  </head>

  <body>

    <a href="/new"> Click Here To List A Puppy </a>

  </body>



</html>




<!--
it 'renders welcome' do
  visit '/'
  expect(page).to have_link("Click Here To List A Puppy")
end
end -->
